@page "/CreateAccount"
@layout MainLayout
@inject NavigationManager navigator
@inject UserService userService
@using StaccOppgave.Models

@if(account == null)
{
  <div class="form-box">
<h3>Create Account</h3>

    <div class="form-group">
        <label for="AccountNumber">Account Number</label>
            <input type="accountnumber" class="form-control myinputfieldcss" id="AccountNumber" @bind="accountnumber">
    </div>
    <div class="form-group">
        <label for="Currency">Currency</label>
            <input type="currency" class="form-control myinputfieldcss" id="Currency" @bind="currency">
    </div>
    
    <button type="submit" class="btn btn-primary mybuttoncss" @onclick="CreateAnAccount">Submit</button>
    </div>
@if (!string.IsNullOrEmpty(errormessage))
{
    <div class="alert alert-danger">@errormessage</div>
    }
} else
{
    <h3>You already have an account.</h3>
}


@code {
    string? accountnumber;
    string? currency;
    string? userid;
    string? errormessage;
    Account? account;

    protected override async Task OnInitializedAsync()
    {
        await GetAccount();
    }

    private async Task CreateAnAccount()
    {
        userid = userService.UserId.ToString();
        if (string.IsNullOrEmpty(userid))
        {
            errormessage = "You must be logged in to create an account";
            return;
        }
        if (string.IsNullOrEmpty(accountnumber) || string.IsNullOrEmpty(currency))
        {
            errormessage = "You must fill all the fields";
            return;
        }
        if (accountnumber.Length < 3 || !int.TryParse(accountnumber, out int validint))
        {
            errormessage = "Invalid Account Number";
            return;
        }
        if(!currency.All(char.IsLetter))
        {
            errormessage = "Invalid currency";
            return;
        }
        try
        {
            var newAccount = new
            {
                UserId = userService.UserId,
                AccountNumber = accountnumber,
                 Balance = 0,
                Currency = currency
            };

            using (var client = new HttpClient())
            {
                var response = await client.PostAsJsonAsync("https://localhost:7064/Account/CreateAccount", newAccount);

                if (response.IsSuccessStatusCode)
                {
                    navigator.NavigateTo("/home");
                }
                else
                {
                    errormessage = "Something went wrong";
                }
            }
        }
        catch (Exception ex)
        {
            errormessage = ex.Message;
        }

    
    }
    private async Task GetAccount()
    {
        userid = userService.UserId.ToString();

        if (string.IsNullOrEmpty(userid))
        {
            errormessage = "You must be logged in to create an account";
            return;
        }

        try
        {
            using (var client = new HttpClient())
            {

                var response = await client.GetAsync($"https://localhost:7064/Account/GetAccountForUser?userId={Uri.EscapeDataString(userid.ToString())}");
                if (response.IsSuccessStatusCode)
                {
                    account = await response.Content.ReadFromJsonAsync<Account>();

                }
            }
        }
        catch (HttpRequestException ex)
        {
            errormessage = ex.Message;
        }


    }
}
