@page "/home"
@layout MainLayout


<div class="container mt-1">
        <h3>Welcome back, User!</h3>
        <p>Account number: <strong>12345678</strong></p>
        <p>Your account balance is:</p>
        <h1>500.00 NOK</h1>
</div>

